@import '../../../assets/scss/variables';

.Container {
  section {
    max-width: $max-container-width;
    margin: auto;
  }
}

.Image {
  @include flex(center, center);
  background-position: center;
  background-size: cover;
  background-image: url('../../../assets/images/products/products.webp');
  height: 50vh;

  @include lg {
    height: 90vh;
  }

  em {
    margin: 0 1rem 1rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: $light-color;
    color: $dark-color;
    display: block;
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-radius: $small-radius;
    font-size: 0.8rem;

    @include lg {
      margin: 0 0 0 1rem;
      font-size: 1rem;
    }
  }
}
