@import '../../../assets/scss/variables';

.Container {
  section {
    max-width: $max-container-width;
    margin: auto;
  }

  figure {
    max-width: $max-container-width;
    background-size: cover;
    background-position: center;
    background-image: url('../../../assets/images/services/main-image.jpeg');
    width: 100%;
    aspect-ratio: 21/9;
    margin: auto;
  }
}
