.field {
  margin: 1rem 0;

  em {
    font-size: 1.25rem;
    font-weight: bold;
    color: #a3610a;
  }

  span {
    font-size: 1.1rem;
  }

  pre {
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.5;
  }
}
