@font-face {
  font-family: 'brownskin-beauty';
  src: url('../fonts/bsb/brownskin-beauty.eot');
  src: url('../fonts/bsb/brownskin-beauty.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bsb/brownskin-beauty.woff') format('woff'),
    url('../fonts/bsb/brownskin-beauty.ttf') format('truetype'),
    url('../fonts/bsb/brownskin-beauty.svg#brownskin-beauty') format('svg');
  font-weight: normal;
  font-style: normal;
}
