$main-color: #a3610a;
$secondary-color: #dd9933;
$light-color: #fff;
$dark-color: #282828;
$grey-color: #555;
$red: rgb(179, 26, 26);
$green: rgb(19, 165, 19);
$light-green: lighten($green, 25%);

$bsb-font-family: 'brownskin-beauty';

$campaign-bar-height: 3rem;
$max-container-width: 1420px;

$small-radius: 3px;
$medium-radius: $small-radius * 2;
$large-radius: $medium-radius * 2;
$xlarge-radius: $large-radius * 2;

$facebook: '\e100';
$instagram: '\e101';
$left: '\e102';
$right: '\e103';
$arrow-up: '\e104';

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// 2K and higher screens
$screen-xxl-min: 1800px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra extra large devices
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px') {
    @content;
  }
}

@mixin flex($align: stretch, $justify: flex-start, $flex-flow: row nowrap) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align;
  justify-content: $justify;
}
