@import './reset';
@import './variables';
@import 'fonts';

:root,
body,
#root {
  min-height: 100vh;
  scroll-behavior: smooth;
}

* {
  line-height: 1.5;
}

html {
  font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
}
