@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/placeholders';

.Container {
  p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.75;
    color: $grey-color;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @extend %mobile-horizontal-padding;
  }
}

.Image_Container {
  min-height: 22rem;
  overflow: hidden;
  margin: 2rem auto;
  text-align: center;
  position: relative;

  img {
    border-radius: 50%;
    max-width: 100%;
  }
}

.Placeholder {
  background: $light-color;
  width: 344px;
  height: 344px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
