@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/placeholders';

.Container {
  p,
  li {
    @extend %paragraph;
    @extend %mobile-horizontal-padding;
  }

  p {
    padding-top: 0;
  }

  ul {
    margin: 2rem 0;
  }

  li {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.Image_Container {
  text-align: center;

  img {
    max-width: 100%;
  }
}
