@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/placeholders';

.Container {
  p {
    @extend %paragraph;
  }

  cite {
    display: block;
    text-align: center;
    font-weight: 600;
    color: $grey-color;
    @extend %mobile-horizontal-padding;
  }
}
