%Icon {
  transition: all 250ms ease;

  &:before {
    font-family: $bsb-font-family;
    transition: all 250ms ease;
  }
}

%mobile-horizontal-padding {
  padding-left: 2rem;
  padding-right: 2rem;

  @include xxl {
    padding-left: 0;
    padding-right: 0;
  }
}

%paragraph {
  text-align: center;
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 1.75;
  color: $grey-color;

  @extend %mobile-horizontal-padding;
}
