@import '../../assets/scss/variables';

.Container {
  border: none;
  padding: 0.5rem 3rem;
  background-color: $main-color;
  font: inherit;
  color: $light-color;
  border-radius: $small-radius;
  transition: background-color 200ms ease;
  overflow: hidden;

  &:hover,
  &:focus-visible {
    background-color: lighten($main-color, 5%);
  }

  &:disabled {
    background-color: $grey-color;
    cursor: not-allowed;
  }
}
