@import '../../assets/scss/variables';
@import '../../assets/scss/placeholders';

.Container {
  max-width: unset !important;
  color: $light-color;

  h3 {
    font-weight: bolder;
  }
}

.Main {
  p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.75;
    color: $grey-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @extend %mobile-horizontal-padding;

    @include lg {
      padding: 1rem 0;
    }
  }
}

.Required {
  color: $red;
  font-size: 1.25rem;
}

.Footer_Container {
  width: 100%;
  padding: 2rem 0;
  margin-top: 2rem;
  background-color: $dark-color;

  input,
  textarea {
    width: 100%;
  }

  textarea {
    min-height: 15rem;
  }

  form {
    label {
      color: darken($main-color, 10%);
      font-weight: 600;
    }

    p {
      padding: 1rem 0;
    }
  }
}

footer.Footer {
  @include flex(center, center, column nowrap);
  max-width: $max-container-width;
  margin: auto;

  @include lg {
    align-items: stretch;
    flex-direction: row;
  }

  form {
    padding-bottom: 2rem;
    border-bottom: 2px solid $main-color;

    @include lg {
      border-bottom: 2px solid transparent;
      padding-bottom: 0;
    }
  }

  > * {
    width: 100%;
  }

  small {
    @extend %mobile-horizontal-padding;
    display: block;
    text-align: center;
    width: 100%;

    @include lg {
      display: revert;
    }
  }
}

.Input_Group {
  @include flex(stretch, center, column nowrap);
  gap: 3rem;
  margin: 3rem 0;

  @include lg {
    @include flex(stretch, center);
    gap: 2rem;
  }

  & > div {
    margin: 0;
  }

  & > * {
    width: 100%;
  }
}

.Button {
  height: 3.5rem;
  width: 100%;
  max-width: 20rem;
  font-weight: bold;
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include lg {
    margin: 0;
    display: revert;
  }
}

.Loader {
  @include flex(center, center);
  gap: 1rem;
}
