@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/placeholders';

.Container {
  h2 {
    font-weight: bolder;
    margin-bottom: 0;
  }

  p {
    @extend %paragraph;
  }
}

.Carousel {
  height: auto;
  aspect-ratio: 16/9;
  margin: 1rem auto 6rem;
  width: 90%;

  @include lg {
    width: 30rem;
  }

  @for $i from 1 to 4 {
    div:nth-child(#{$i}) {
      .Carousel_Image {
        background-image: url('../../../../assets/images/home/carousel-services-#{$i}.jpg');
      }
    }
  }
}

.Carousel_Image {
  @include flex(center, center, column nowrap);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  > a {
    display: block;
  }
}
