@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/placeholders';

.Container {
}

.Subtitle {
  text-align: center;
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @extend %mobile-horizontal-padding;
}

.Images {
  @include flex(stretch, center, column nowrap);
  gap: 2rem;
  width: 100%;

  @include lg {
    flex-direction: row;
  }

  figure {
    width: 100%;
  }

  figcaption {
    text-align: center;
    font-size: 1.1rem;
    opacity: 0.8;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @extend %mobile-horizontal-padding;
  }

  article {
    width: 100%;

    @for $i from 1 to 4 {
      &:nth-child(#{$i}) {
        figure div {
          height: 24rem;
          width: inherit;
          aspect-ratio: inherit;
          background-size: cover;
          background-position: top;
          background-image: url('../../../../assets/images/home/heading-image-#{$i}.jpeg');

          @include lg {
            height: 29rem;
          }
        }
      }
    }
  }
}
