@import '../../../../../assets/scss/variables';
@import '../../../../../assets/scss/placeholders';

.Container {
  p,
  li {
    @extend %paragraph;
  }

  p {
    padding-top: 0;
  }

  ul {
    margin: 2rem 0;

    li {
      padding: 0;
    }
  }
}

.Image_Container {
  text-align: center;

  img {
    max-width: 100%;
  }
}
