@import '../../../assets/scss/variables';

@keyframes slide-bottom-to-top {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right-to-left {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.Container {
  section {
    max-width: $max-container-width;
    margin: auto;
  }
}

.FirstSection {
  padding-top: 4rem;
}

.Carousel {
  @for $i from 1 to 4 {
    div:nth-child(#{$i}) {
      .Carousel_Image {
        background-image: url('../../../assets/images/home/carousel-image-#{$i}.jpeg');
      }
    }
  }
}

.Carousel_Image {
  @include flex(center, center, column nowrap);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 1.25;

  strong {
    margin-bottom: 1rem;
    max-width: 15rem;
    font-size: 1.3rem;

    @include md {
      font-size: 2.25rem;
      max-width: 17rem;
    }

    @include lg {
      font-size: 3.25rem;
      max-width: 33rem;
    }
  }

  a {
    background-color: $main-color;
    color: $light-color;
    border-radius: 3px;
    padding: 0.5rem 1rem;

    @include lg {
      padding: 1rem;
    }
  }
}

.Text_Light {
  transform: translateY(3rem);
  opacity: 0;

  &.Active {
    animation: slide-bottom-to-top 1 1250ms 250ms forwards ease;
  }

  strong {
    color: $light-color;
  }
}

.Text_Brown {
  transform: translateX(3rem);
  opacity: 0;

  &.Active {
    animation: slide-right-to-left 1 1250ms 250ms forwards ease;
  }

  strong {
    color: $main-color;
  }
}
