@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/placeholders';

.Container {
  h2 {
    font-weight: bolder;
    margin-bottom: 0;
  }

  strong,
  em {
    display: block;
    text-align: center;
    margin: 2rem 0;
  }

  strong {
    font-size: 1.25rem;
    text-transform: uppercase;

    @extend %mobile-horizontal-padding;
  }

  em {
    text-transform: uppercase;
    color: $grey-color;

    @extend %mobile-horizontal-padding;
  }

  div {
    text-align: center;
    margin: 2rem 0;

    img {
      max-width: 100%;
    }
  }
}
