@import '../../../assets/scss/variables';

.Container {
  @include flex(center, center);
  background-color: $main-color;
  height: $campaign-bar-height;
  color: $light-color;
  position: relative;
  overflow: hidden;

  @include lg {
    font-size: 1.2rem;
  }

  strong {
    transform: translate(100%);
    opacity: 0;
    position: absolute;
    cursor: default;
    text-align: center;
    max-width: 80%;
    line-height: 1.25;

    @include lg {
      max-width: none;
    }

    &::selection {
      background-color: transparent;
    }
  }
}

.Cross {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 1rem;
}

.Active {
  animation: slide-from-right forwards 1 800ms 250ms ease-in-out;
  text-align: center;
  position: static;
}

.Leave {
  opacity: 1;
  animation: slide-to-left forwards 1 800ms ease-in-out;
  position: static;
}

@keyframes slide-from-right {
  from {
    transform: translateX(40vw);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-to-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50vw);
    opacity: 0;
  }
}
