@import '../../assets/scss/variables';

.Container_Public {
  min-height: 100vh;
  transition: all 250ms ease;

  & > header {
    transition: all 250ms ease;

    &.CampaignBar_Visible {
      height: $header-height;
    }

    &.CampaignBar_Hidden {
      height: $header-height - $campaign-bar-height;
    }
  }

  & > main {
    transition: all 250ms ease;

    &.TopBar_Hidden {
      @include lg {
        margin-top: 0;
      }
    }

    &.CampaignBar_Hidden {
      @include lg {
        margin-top: $campaign-bar-height;
      }
    }

    &.TopBar_Hidden.CampaignBar_Hidden {
      // margin-top: $header-height - $campaign-bar-height;
    }
  }
}
