@import '../../assets/scss/variables';
@import '../../assets/scss/placeholders';

.Container {
  @include flex(center, flex-start, column nowrap);
  gap: 2rem;
  font-weight: bold;
  max-width: 20rem;
  width: 100%;
  margin: auto;

  text-align: center;

  span {
    display: block;
  }

  p {
    color: $light-color;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    line-height: 1.75;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @extend %mobile-horizontal-padding;

    @include lg {
      padding: 1rem 0;
    }
  }
}

.Call {
  background-color: $main-color;
  color: $light-color;
  padding: 1rem;
  width: 100%;
  border-radius: $medium-radius;
}
